[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
mip = "*"
gurobipy = "*"
pandas = "*"
gurobi-machinelearning = "*"
numpy = "*"
jupyter = "*"
matplotlib = "*"
scikit-learn = "*"
jax = {version = "*", extras = ["cpu"]}

[dev-packages]

[requires]
python_version = "3.11"
